.sidebar
    width: 250px
    height: 100vh

    padding-top: 50px
    padding-left: 32px

    position: fixed
    left: 0

    display: flex
    flex-direction: column
    gap: 30px

    color: white
    background-color: #0f0f0f

    .Subscriptions

        h2 
            margin-bottom: 10px

        .Subscriptions_list
            padding-left: 30px
            display: flex
            flex-direction: column
            gap: 10px

            li
                a
                    color: white

    .you
        h2 
            margin-bottom: 10px

        .you_list
            padding-left: 30px
            display: flex
            flex-direction: column
            gap: 10px

            li
                a
                    color: white
