body
    font-family: system-ui, sans-serif
    
    color: var(--color-text-primary)
    background: var(--color-bg-primary)

    transition: 0.2s ease, color 0.2s ease
    
    a
        color: var(--color-text-primary)
        
    svg
        fill: var(--color-text-primary)