.topbar_container
    padding-top: 20px
    padding-bottom: 5px

    .topbar_list
        display: flex
        justify-content: center
        gap: 10px

        li
            padding: 5px 10px
            border-radius: 5px
            cursor: pointer
            color: white
            background-color: #222222
