.nav-item {
    .nav-link {
        text-decoration: none;
        font-size: 16px;
        color: #c8c8e8;
        padding: 4px 0px;
        transition: color 0.3s;

        &.active,
        &:hover  {
            color: #f7f5ff;
            border-bottom: 2px solid #7250e9;
        }
    }
} 